<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="Application">
			<directory>application</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../application</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="../build/reports/coverage-cli" charset="UTF-8"
			yui="true" highlight="false"
			lowUpperBound="35" highLowerBound="70" />
		<log type="test-xml" target="../build/reports/tests-cli/logfile.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
